* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background: rgb(3, 0, 31);
  color: white;
  font-family: "Poppins", sans-serif;
}
.App {
  min-height: 100vh;
  display: flex;
}
.sideBar {
  flex: 3;
  border-right: 1px solid rgb(100, 100, 100);
}
.main {
  flex: 9;
}

.logo{
    margin-right: 1rem;
}
.brand{
    font-size: 2rem;
}
.upperSide{
    padding: 2rem;
    border-bottom: 1px solid rgb(100,100,100);
    height: 70%;
}
.upperSideTop{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.addBtn{
    height: 2rem;
    padding-right: 1rem;
}
.midBtn{
    background: #5a4bff;
    border: none;
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
}
.query{
    display: flex;
    align-items: center;
    background: transparent;
    color: rgba(222, 222, 222, 1);
    padding: 1.5rem;
    width: 25rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: 1px solid rgba(98,98,98,1);
}

.query>img{
    margin-right: 2rem;
    object-fit: cover;
    height: 1.75rem;
}
.lowerSide{
    padding: 2rem;
}
.listItems{
    margin: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.listItemsImg{
    margin: 1rem;
    padding-right: 1rem;
}
.listItems:nth-child(1)>.listItemsImg{
    margin-right: 0.5rem;
}
.listItems:nth-child(3)>.listItemsImg{
    margin-right: 0.75rem;
}